{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <h1>Connexion</h1>

    {% if error %}
        <div class="alert alert-danger">{{ error.message }}</div>
    {% endif %}

    {{ form_start(form) }}

    {{ form_widget(form) }}

    <button class="btn btn-success">Connexion</button>

    {{ form_end(form) }}
{% endblock %}
